@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-main {
  padding: 30px;
}

.timestamp {
  font-size: 12px;
}

.message {
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.btn-group {
  padding-top: 15px;
}

.output {
    height: 600px;
    padding: 30px;
    overflow-y: scroll;
}


